.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    /* border: 10px solid rgb(255, 81, 0); */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999; */
    /* width: 800px; */
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    /* border: 1px solid rgb(255, 81, 0); */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100px;
    height: 100px !important;
    
    
    
    
}

.jcarousel img:hover {
    border:5px;
    border-style:solid;
    border-color: rgb(243, 241, 240, 0.6);    
}



/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: rgb(216, 180, 19);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 4px rgb(10, 10, 10);
    -moz-box-shadow: 4px 4px 4px rgb(10, 10, 10);
    box-shadow: 4px 4px 4px rgb(10, 10, 10);
    
}

.jcarousel-control-prev {
    left: -15px;
}

.jcarousel-control-next {
    right: -15px;
}



/* .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: rgb(231, 221, 176);
    /* color: rgb(10, 10, 10); */
    /* border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px; */


    /* -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C; */
    /* box-shadow: 0 0 2px #4E443C; */
} 

.jcarousel-pagination a.active {
    background:  rgb(59, 30, 7);
    color: rgb(10, 10, 10);
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}





